<html>
<head>
    <meta charset="UTF-8">
    <title>Weather forecast</title>
    <link href="{{ url_for('static', path='/css/layout.css') }}" rel="stylesheet" type="text/css"/>
</head>
<script>
    function keyCode(event) {
        var x = event.keyCode;
        if (x == 27) {
        for(let modal_id = 1; modal_id <= 7; modal_id++){
            document.getElementById("" + modal_id).style.display='none';
        }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        const scrollImages = document.querySelector(".seven_day_list_div");
        const scrollLength = scrollImages.scrollWidth - scrollImages.clientWidth;
        const leftButton = document.querySelector("#arrow_left");
        const rightButton = document.querySelector("#arrow_right");

        function checkScroll() {
            const currentScroll = scrollImages.scrollLeft;
            if (currentScroll === 0) {
            leftButton.setAttribute("disabled", "true");
            rightButton.removeAttribute("disabled");
            } else if (currentScroll === scrollLength) {
            rightButton.setAttribute("disabled", "true");
            leftButton.removeAttribute("disabled");
            } else {
            leftButton.removeAttribute("disabled");
            rightButton.removeAttribute("disabled");
            }
        }

        scrollImages.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
        checkScroll();

        function leftScroll() {
            scrollImages.scrollBy({
            left: -200,
            behavior: "smooth"
            });
        }

        function rightScroll() {
            scrollImages.scrollBy({
            left: 200,
            behavior: "smooth"
            });
        }

        leftButton.addEventListener("click", leftScroll);
        rightButton.addEventListener("click", rightScroll);
    });
</script>
<body onkeydown="keyCode(event)" style="background-color: black;">
    {% for modal_id, full_date in zip(weather_modal_box_id, seven_day_forecast_full_dates) %}
    <div id="{{modal_id}}" class="main_modal_background" style="display: none; background-color: rgba(74, 73, 72, 0.4); position: fixed; z-index: 100; bottom: 0px; right: 0px; height: 150%; width: 100%;">
        <div id="myModal" class="modal" style="position: relative; top: 35%; height: 800px;">
            <div class="modal-content">
            <span class="close" style="cursor: pointer; font-size: 50px;" onclick="document.getElementById('{{modal_id}}').style.display='none'">&times;</span>
            <h2 style="text-align: center; font-family: Arial;">Weather forecast breakdown in London ({{full_date}})</h2>
            <div class="detailed_weather_info_bg1">
                <div class="detailed_weather_info_bg2">
                    {% for time, temperature, precipitation, weather_type in zip(seven_day_forecast_details_time[modal_id - 1], seven_day_forecast_details_temperature[modal_id - 1], seven_day_forecast_details_precipitation[modal_id-1], seven_day_forecast_details_weather_type[modal_id - 1]) %}
                    <div class="seven_day_weather_details">
                        <p><strong>{{time}}</strong></p>
                        <img style="width: 50px; height: 50px;" src="static/img/{{weather_type}}.png">
                        <p><strong>{{temperature}}°C</strong></p>
                        <img style="width: 50px; height: 50px; padding-top: 25px;" src="static/img/raindrops.png">
                        <p style="color: blue; font-size: 20px;"><strong>{{precipitation}}%</strong></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="top_navigation_bar">
        <div style="float: left; width:50%;">
            <ul id="menu_options">
                <li><a class="active" href="{{ url_for('return_home_page')}}">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="{{ url_for('return_europe_weather_page')}}">Europe weather</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div style="float: right;">
            <h3 style="position: relative; display: inline-block; bottom: 15px;">World Weather</h3>
            <img src="static/img/menu_logo.gif" width="50px;" height="50px;" style="position: relative; display: inline-block;"></li>
        </div>
    </div>
    <div class="header" style="background-image: url({{url_for('static', path='img/space_image.jpg')}})">
        <div id="home_title"><p style="position: relative; transform: translate(0%,100%); font-size: 50px;">GB World Weather</p></div>
        <h2 style="position: relative; top: 15px; text-align: center; font-family: Arial, Helvetica, sans-serif; color: white;">Provides a platform for those who want to explore the weather</h2>
    </div>
    <h2 style="color: white; font-family: Arial, Helvetica, sans-serif; text-align: center; padding-top: 10px;">7 day forecast in London</h3>
    <div style="margin-right: auto; margin-left: auto; text-align: center;">
        <div style="background-color: transparent; position: relative; display: inline-block; width: 100px; height: 50%; text-align: center; vertical-align: top;">
            <i id="arrow_left" onclick="scrollRight()"></i>
        </div>
        <div class="seven_day_list_div">
            {% for min_temperature, max_temperature, half_month, weather_type_forecast, modal_id in forecast_info %}
            <div id="today" onclick="document.getElementById('{{modal_id}}').style.display='block'" title="Click to view more details">
                <div style="height: 40px;">
                    <h3 style="font-family: Arial; width: 50%; position: relative; display: block;">{{half_month}}</h3>
                </div>
                <div style="position: relative; margin-left: auto; margin-right: auto; text-align: center; padding-top: 10px; padding-bottom: 10px;">
                    <img class="forecast_weather_image" src="static/img/{{weather_type_forecast}}.png">
                </div>
                <p style="font-family: Arial, Helvetica, sans-serif;">Max temp: <strong style="color: red">{{max_temperature}}°C</strong></p>
                <p style="font-family: Arial, Helvetica, sans-serif;">Min temp: <strong style="color: blue">{{min_temperature}}°C</strong></p>
            </div>
            {% endfor %}
        </div>
        <div style="background-color: transparent; position: relative; display: inline-block; width: 100px; height: 50%; text-align: center; vertical-align: top;">
            <i id="arrow_right" onclick="scrollRight()"></i>
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; text-align: center; padding-top: 30px;">
        <h2 style="color: white; font-family: Arial, Helvetica, sans-serif;">See more options</h2>
    </div>
    <div style="text-align: center; padding-top: 20px;">
        <div id="graph_div" onclick="location.href='{{ url_for('return_graphs_page') }}';">
            <h3 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Graphs</h3>
            <img src="static/img/black_graph.jpg" height="200px;" width="400px;">
            <ul style="text-align: left;">
                <li>Create your own customizable graphs from all around the world.</li>
                <li>Keep track of metrics such as temperature, humidity etc.</li>
            </ul>
        </div>
        <div id="map_div" onclick="location.href='{{ url_for('return_maps_page') }}';">
            <h3 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Maps</h3>
            <img src="static/img/world_map_option.png" height="200px;" width="400px;">
            <ul style="text-align: left; position: relative;">
                <li>Observe maps created by NASA.</li>
                <li>Observe changes in climate and weather metrics from all around the world.</li>
            </ul>
        </div>
    </div>
</body>
<footer style="background-color: #330033; color: white; text-align: center; margin-top: 50px;">
    <p style="text-align: center; padding-top: 10px;">Website created by Giedrius (2023) and running on AWS Elastic Beanstalk.</p>
    <br>
    <div>
        <img src="static/img/aws_logo.jpg" style="position: relative; display: inline-block; height: 50px; width: 50px; margin-right: 50px;">
        <img src="static/img/travis_ci.jpg" style="position: relative; display: inline-block; height: 50px; width: 50px; margin-right: 50px;">
        <img src="static/img/vscode_logo.png" style="position: relative; display: inline-block; height: 50px; width: 50px; margin-right: 50px;">
        <img src="static/img/python_logo.jpg" style="position: relative; display: inline-block; height: 50px; width: 50px; margin-right: 50px;">
    </div>
    <p style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Further credit goes to AWS and Travis CI for helping us to deploy this webapp.</p>
</footer>
</html>